<div class="rss-component" layout="row" layout-fill>
  <div class="rss-side-panel md-whiteframe-2dp" hide show-gt-sm>
    <div class='logo'>
      <div class='logo-img'></div>
    </div>



    <md-content class="feed-list">
      <md-list flex>
        <md-subheader class="md-no-sticky">{{ feedsTitle.length }} line item
        </md-subheader>
        <md-list-item 
          ng-if="feedsTitle.length > 0"
          ng-repeat="(key, feed) in feedsTitle"
          class="md-2-line" ng-click="selectFeed(feed)">
          <ng-md-icon icon="rss_feed" class="icon-feed"></ng-md-icon>
          <div class="md-list-item-text">
            <h3>{{ feed.name }}</h3>
            <h4>{{ feed.content }}</h4>
          </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-button ng-click="manage()" class="md-raised logout" aria-label="Learn More">
          Manage feeds 
          <ng-md-icon icon="create_new_folder" class="icon-feed"></ng-md-icon>
        </md-button>
      </md-list>
    </md-content>





  </div>

  <div flex>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>Feeds</span>
        </h2>
        <span flex></span>
        <md-button ng-click="logout()" class="md-raised logout" aria-label="Learn More">
          Logout
          <ng-md-icon icon="account_circle" class="icon-feed"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-content class="feed-list">
      <md-list flex>
        <md-subheader class="md-no-sticky">C'est qui le papa?</md-subheader>
        <div layout-padding>
          <h2>{{ selected.name }}</h2>
          <p>{{ selected.content }}</p>
        </div>
        <md-divider></md-divider>
      </md-list>
    </md-content>

  </div>
</div>
