
.rss-side-panel {
  width: 300px;
  z-index: 2;
}

.logo {
  width: 100%;
  height: 20%;
  min-height: 120px;
  background-color: #3BBD41;
  position: relative;
}

.logo > .logo-img{
  background-image: url('/assets/images/logo.png');
  width: 230px;
  height: 113px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.logout ng-md-icon {
  vertical-align: -webkit-baseline-middle;
}

.feed-list {
  height: 80%;
  z-index: 1;
}

.feed-list .icon-feed {
  width: 30px;
  height: 30px;
  fill: #3BBD41;
}

.feed-list .md-list-item-text {
  overflow: hidden;
}
