<html ng-app="application">
    <head>
      <title>SALUT</title>

      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("javascripts/bower_components/angular-material/angular-material.min.css")">

      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("rss-component/rss-component.stylesheet.css")">
    </head>

    <body>
      <rss-component>
      </rss-component>

      <script src="@routes.Assets.versioned("javascripts/bower_components/angular/angular.min.js")" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("javascripts/bower_components/angular-route/angular-route.min.js")" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("javascripts/bower_components/angular-animate/angular-animate.min.js")" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("javascripts/bower_components/angular-aria/angular-aria.min.js")" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("javascripts/bower_components/angular-material/angular-material.min.js")" type="text/javascript"></script>

      <script src="@routes.Assets.versioned("app.js")" type="text/javascript"></script>

      <script src="@routes.Assets.versioned("rss-component/rss-component.js")" type="text/javascript"></script>
    </body>
</html>
