<html ng-app="application">
    <head>
      <title>SALUT</title>

      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("javascripts/bower_components/angular-material/angular-material.min.css")">

      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("javascripts/app/rss-component/rss-component.stylesheet.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("javascripts/app/register/register.stylesheet.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("javascripts/app/login/login.stylesheet.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("javascripts/app/manage/manage.stylesheet.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/global.css")">
    </head>

    <body>
      <div class='app' ng-view>
      </div>

      <script src="@routes.Assets.versioned("javascripts/bower_components/angular/angular.min.js")" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("javascripts/bower_components/angular-route/angular-route.min.js")" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("javascripts/bower_components/angular-animate/angular-animate.min.js")" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("javascripts/bower_components/angular-aria/angular-aria.min.js")" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("javascripts/bower_components/angular-material/angular-material.min.js")" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("javascripts/bower_components/angular-material-icons/angular-material-icons.min.js")" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("javascripts/bower_components/angular-md5/angular-md5.js")" type="text/javascript"></script>

      <script src="@routes.Assets.versioned("javascripts/app/app.js")" type="text/javascript"></script>

      <script src="@routes.Assets.versioned("javascripts/app/application/application.controller.js")" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("javascripts/app/login/login.controller.js")" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("javascripts/app/register/register.controller.js")" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("javascripts/app/manage/manage.controller.js")" type="text/javascript"></script>

      <script src="@routes.Assets.versioned("javascripts/app/rss-component/rss-component.js")" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("javascripts/app/rss-component/rss-component.service.js")" type="text/javascript"></script>
    </body>
</html>
